$colors: ('one': #CCDBDC, 'two': #9AD1D4, 'three': #80CED7, 'four' : #007EA7, 'five' : #003249)
@function color($color)
  @return map-get($colors, $color)

$media-screens: ( "sm": 720px,  "md": 960px,  "lg": 1024px,  "xl": 1200px )

@function mediaScreen($sizeName)
  @return map-get($media-screens, $sizeName)

@mixin mediaScreenContent($sizeName)
  @media (min-width: mediaScreen($sizeName))
    @content


body
  background-color: white
  color: color('five')

a
  text-decoration: none
  color: #99979c
a:hover
  color: #007bff

.top-navbar, .top-navbar div
  font-size: 14px
  background-color: #322348
  color: white

.bd-navbar
  background-color: #563d7c
  color: #fff
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1)

.btn
  display: inline-block
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  border: 1px solid transparent
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  border-radius: .25rem
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out

.btn-download
  font-weight: 500
  background-color: transparent
  color: #ffe484
  border-color: #ffe484

.btn-download:hover
  color: #2a2730
  background-color: #ffe484
  border-color: #ffe484

ul
  display: inline
  list-style-type: none
  li
    display: inline
    a
      text-decoration: none
      color: #cbbde2
    a:hover
      color: white
.main-menu
  padding-left: 15px
.right-main-menu
  margin-left: auto
  padding-right: 15px
  li
    padding-left: 20px
  svg
    display: inline-block
    width: 1rem
    height: 1rem
    vertical-align: text-top
.logo
  display: inline

.search-input
  display: block
  width: 100%
  padding: .375rem .75rem
  font-size: 1rem
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: .25rem

.button-toggle
  text-align: center
  white-space: nowrap
  vertical-align: middle
  border: 1px solid transparent
  font-size: 1rem
  border-radius: .25rem
  background: transparent

.sidebar-right
  height: calc(100vh - 94px)
  overflow-y: auto
  ul
    li
      margin-top: 15px
      display: block
      a
        color: #99979c
      a:hover
        color: #007bff
  @include mediaScreenContent('sm')
    border-left: 1px solid rgba(0,0,0,.1)

.sidebar-left
  display: flex
  align-content: baseline
  border-bottom: 1px solid rgba(0,0,0,.1)
  @include mediaScreenContent('sm')
    border-right: 1px solid rgba(0,0,0,.1)
  @include mediaScreenContent('sm')
    border-bottom: none

.layout-link
  a
    display: block
    padding: .25rem 0
    font-weight: 500
    color: #99979c
    line-height: 24px
  a:hover
    color: #007bff
  ul
    a
      font-size: 90%

.left-sidebar-link
  a
    display: block
    padding: 0.25rem 0
    font-weight: 500
    line-height: 24px

.blog-title
  margin-top: 1rem
  margin-bottom: .5rem
  font-weight: 300
  line-height: 1.2

.blog-content
  font-size: 1.125rem
  font-weight: 300
  line-height: 27px

.main-content
  a
    text-decoration: none
    color: #007bff
  a:hover
    text-decoration: underline
  > div
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
    @include mediaScreenContent('sm')
      padding-left: 40px
    @include mediaScreenContent('lg')
      max-width: 80%
.ad-section
  max-width: 400px
  overflow: hidden
  font-size: 13px
  line-height: 1.4
  text-align: left
  background-color: rgba(0, 0, 0, 0.05)
  a
    color: #333
    text-decoration: none
    display: block
  img
    max-width: 130px

  .ad-image, .ad-text
    padding: 15px

  .ad-text
    padding-left: 0
    a
      font-size: 13px

.example-row
  width: 100%
  .rw>[class^=cl-]
    padding-top: .75rem
    padding-bottom: .75rem
    background-color: rgba(86,61,124,.15)
    border: 1px solid rgba(86,61,124,.2)
