body {
  background-color: #CCDBDC;
  color: #003249;
}

a {
  text-decoration: none;
  color: #99979c;
}

a:hover {
  color: #007bff;
}

.top-navbar, .top-navbar div {
  font-size: 14px;
  background-color: #322348;
  color: white;
}

.bd-navbar {
  background-color: #563d7c;
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn-download {
  font-weight: 500;
  background-color: transparent;
  color: #ffe484;
  border-color: #ffe484;
}

.btn-download:hover {
  color: #2a2730;
  background-color: #ffe484;
  border-color: #ffe484;
}

ul {
  display: inline;
  list-style-type: none;
}

ul li {
  display: inline;
}

ul li a {
  text-decoration: none;
  color: #cbbde2;
}

ul li a:hover {
  color: white;
}

.main-menu {
  padding-left: 15px;
}

.right-main-menu {
  margin-left: auto;
  padding-right: 15px;
}

.right-main-menu li {
  padding-left: 20px;
}

.right-main-menu svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

.logo {
  display: inline;
}

.search-input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.button-toggle {
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: .25rem;
  background: transparent;
}

.sidebar-right {
  height: calc(100vh - 94px);
  overflow-y: auto;
}

.sidebar-right ul li {
  margin-top: 15px;
  display: block;
}

.sidebar-right ul li a {
  color: #99979c;
}

.sidebar-right ul li a:hover {
  color: #007bff;
}

.sidebar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.layout-link a {
  display: block;
  padding: .25rem 0;
  font-weight: 500;
  color: #99979c;
  line-height: 24px;
}

.layout-link a:hover {
  color: #007bff;
}

.layout-link ul a {
  font-size: 90%;
}

.left-sidebar-link a {
  display: block;
  padding: 0.25rem 0;
  font-weight: 500;
  line-height: 24px;
}

.blog-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.2;
}

.blog-content {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 27px;
}

.ad-section {
  max-width: 400px;
  overflow: hidden;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.05);
}

.ad-section a {
  color: #333;
  text-decoration: none;
  display: block;
}

.ad-section img {
  max-width: 130px;
}

.ad-section .ad-image, .ad-section .ad-text {
  padding: 15px;
}

.ad-section .ad-text {
  padding-left: 0;
}

.ad-section .ad-text a {
  font-size: 13px;
}
/*# sourceMappingURL=styles.css.map */