$bg-color: #ede2c2
$media-screens: ("xs": 576px, "sm": 720px,  "md": 960px,  "lg": 1024px,  "xl": 1200px )

@function mediaScreen($sizeName)
  @return map-get($media-screens, $sizeName)

@mixin mediaScreenContent($sizeName)
  @media (min-width: mediaScreen($sizeName))
    @content




body,
html,
*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box
  font-size: 12px
  font-family: Arial, Helvetica, sans-serif
  font-weight: normal
  line-height: 12px

/* 'H' styles */

h1, h2, h3, h4, h5, h6
  font-family: helvetica
  font-weight: bold
$num: 1
@while $num <= 6
  h#{$num}
    font-size: #{2.5 - (.25 * $num)}rem
  $num: $num + 1

/* Grid */
/*row*/
.rw
  display: flex
  flex-wrap: wrap

.container-grid
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  @include mediaScreenContent ("xs")
    max-width: 536px
  @include mediaScreenContent ("sm")
    max-width: 680px
  @include mediaScreenContent ("md")
    max-width: 920px
  @include mediaScreenContent ("lg")
    max-width: 990px
  @include mediaScreenContent ("xl")
    max-width: 1160px

.container-fluid-grid
  width: 100%
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto

$num : 1
@while $num <= 12
  @each $key, $value in $media-screens
    .cl-#{$key}-#{$num}
      width: 100% * ($num/12)
  $num : $num + 1
